*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* common */
body{
    font-family: 'Open Sans', sans-serif;
}

.clearfix{
    display: table;
    content:"";
    clear: both;
}

ul li {
    display: inline-block;
}

ul li a{
    text-decoration: none;
    margin: 25px;
    color: black;
}

.btn{
    padding: 8px 15px;
    background-color: #0061ff;
    color: white;
    text-decoration: none;
}





/* header */

header{
    width: 100%;
}

.left, .right{
    float: left;
    height: 90px;
    display: inline-block;
    width: 50%;
}

/* nav-left */

.img-drop, .nav-left{
    display: inline-block;
    vertical-align: middle;
    line-height: 90px;
}

.img-left{
    margin-left: 20px;
}

/* nav-right */

.right{
    text-align: right;
}

.btn-nav{
    margin-right: 20px;
}





