/* reset */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* common */

body{
    font-family: 'Open Sans', sans-serif;
}

.clearfix::after{
    display: table;
    content:"";
    clear: both;
}

nav ul li {
    display: inline-block;
}

nav ul li a{
    text-decoration: none;
    margin: 25px;
    color: black;
}

ul {
    list-style-type: none;
}

.btn{
    padding: 8px 15px;
    background-color: #0061ff;
    color: white;
    text-decoration: none;
}

h2{
    font-size: 40px;
}

h3{
    font-size: 25px;
}

h4{ font-size: 22px;}

h5{
    font-size: 18px;
}

a{
    text-decoration: none;
}

.box-hero{
    width: 90%;
    margin: auto;
}

.box80{
    width: 80%;
    margin: auto;
}


/* header */

header{
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 999;
    background-color: white;
}

.left, .right{
    float: left;
    height: 90px;
    display: inline-block;
    width: 50%;
}

/* nav-left */

.img-drop, .nav-left{
    display: inline-block;
    vertical-align: middle;
    line-height: 90px;
}

.img-left{
    margin-left: 20px;
}

/* nav-right */

.right{
    text-align: right;
}

.btn-nav{
    margin-right: 20px;
}

/* hero */

.hero{
    margin-top: 90px;
    background-color: #b4d0e7;
    max-height: 670px;
}

/* title */

h1{
    padding-top: 80px;
    font-size: 70px;
}

/* subtitle */

.subtitle{
    width: 100%;
    margin-top: 50px;
}
.text-hero{
    width: 40%;
    padding-right: 90px;
}
.img-hero{
    width: 60%;
}

.text-hero,
.img-hero{
    float: left;
}

.btn-hero{
    display: inline-block;
    margin: 25px 0 15px 0;
}

.fa-arrow-down{
    display: inline-block;
    margin-top: 40px;
    font-size: 40px;
    color: black;
}

.img-hero img{
    width: 100%;
}

/* section plane */

.business{
    padding-top: 150px;
}

.input-fattura{
    margin-top: 30px;
}

.option{
    width: 100%;
    margin-top: 20px;
}

.standard{
    margin: 0 30px;
}

.professional,
.standard,
.advanced{
    display: inline-block;
    height: 1000px;
    float: left;
    border: 1px solid lightgrey;
    width: calc(100% / 3 - 20px);
}

/* plane option */

.description{
    padding: 15px 20px;
}
.team{
    text-align: center;
    padding: 10px;
    border-bottom: 1px solid lightgrey;
} 

.mounth{
    font-size: 13px;
    color: grey;
}

.fa-pencil-alt{
    font-size: 16px;
}

.function li{
    font-size: 13px;
}


.function ul li,
.point ul li{
    margin-top: 30px;
}

.price{
    line-height: 40px;
}

.btn-prova{
    margin-top: 50px;
    margin-bottom: 30px;
    text-align: center;
}

#gratis{color: #0061ff;}

hr{
    margin: 30px 0 40px 0;
    color: grey;
    width: 25%;
}

.fa-check{
    color: #0061ff;
}

.point li{
    font-size: 13px;
}

.btn-prova{
    padding: 8px 0;
    background-color: #0061ff;
    color: white;
    text-decoration: none;
}

.fa-smile{
    font-size: 17px;
}

/* box vendite */

.vendite{
    margin-top: 50px;
}

.team-building{
    text-align: center;
    border: 1px solid lightgrey;
    padding: 10px;
}

.enterprice{
    position: relative;
    line-height: 40px;
    padding: 30px 20px 20px;
    border: 1px solid lightgrey;
}

.btn-vendite{
    position:absolute;
    top: 20px;
    right: 20px;
    background-color: #0061ff;
    color: white;
    text-decoration: none;
    padding: 1px 40px;
}

.partner{
    margin-top: 150px;
    width: 100%;
}

.img-fiducia,
.text-fiducia{ float: left;}

.img-fiducia{ width: 60%;}

.text-fiducia{
    padding: 30px 0 0 40px;
    width: 40%;
}

.width-img{ width: 100%;}

.white-btn{
    color: black;
    padding: 5px 10px;
    border: 1px solid black;
}

.trova-partner{
    margin-top: 40px;
    margin-bottom: 30px;
}

/* section operazioni */

.operation{
    margin-top: 70px;
}

.operation-one{
    margin-top: 30px;
}

.operation-two{
    margin-top: 80px;
}

.operation-box {
    display: inline-block;
    float: left;
    width: calc(100% / 3);
    padding: 0 20px 10px 0;
}

.img-operation{
    width: 100%;
}

#uppercase{
    text-decoration: underline;
}

.operation h3, p{
    margin-top: 15px;
}

/* section sponsor */
.sponsor{
    margin-top: 100px;
}

#title-client{
    margin-bottom: 20px;
}

/* sponsor box */
.sponsor-box{
    margin-top: 30px;
    width: 100%;
    background-color: #f5f5f5;
}

.sponsor-left,
.sponsor-right{
    width: 30%;
}

.sponsor-desk{
    padding: 40px;
    width: 40%;
}

.sponsor-left,
.sponsor-desk{
    display: inline-block;
    float: left;
}

.sponsor-right{
    display: inline-block;
    float: right;
}

/* square */

.square-row{
    width: 100%;    
}

.propriety{
    float: left;
    width: 50%;
    position: relative;
}
.single-square:after{
    content: "";
    display: block;
    padding-bottom: 100%;   
}

.designit{
    border: 8px solid #d0e9cd;
    background-color: #a2d39b;
}

.asu{ background-color: #61082b;}

.florida{ background-color: #0093ce;}

.toops{ background-color: #ff1c1c;}

.world{ background-color: #d5001f;}

.hearst{ background-color: #b4d0e7;}

.lonely{ background-color: #0d2481;}

.channel{ background-color: #ffd830;}

/* loghi */

.sponsor-left img,
.sponsor-right img{
    position: absolute;
    width: 120px;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
}
    

/* desk */

.sponsor-desk img{
    width: 150px;
}

.designit-desk{ margin-bottom: 50px;}

#morten{ margin-top: 30px;}

/* prova gratuita */
.prova-gratuita{
    background-color: #b4d0e7;
}

.azienda,
.btn-gratuita{
    float: left;
    height: 250px;   
}

.azienda{
    display: inline-block;
    width: 60%;
}

.btn-gratuita{
    display: inline-block;
    width: 40%;
    text-align: right;
}

#text-azienda{
    font-size: 28px;
    vertical-align: middle;
    line-height: 250px;
}

.btn-gratuita a{
    vertical-align: middle;
    line-height: 250px;
    background-color: #fff;
    color: #000;
    padding: 5px 45px;
}

/* domande frequenti */
#question{
    margin-top: 100px;
}

.question1{
    margin-top: 50px;
}

.different{
    position: relative;
    display: inline-block;
    width: 100%;
    padding: 30px 0;
    border-top: 1px solid lightgrey;
}

.question4{
    border-bottom: 1px solid lightgrey;
    margin-bottom: 90px;
}

.fa-chevron-down{
    position: absolute;
    right: 30px;
    text-align: right;
}















